<div id="<%= dom_id notification %>">
  <p>
    <strong>Member:</strong>
    <%= notification.member_id %>
  </p>

  <p>
    <strong>Notification type:</strong>
    <%= notification.notification_type %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Read status:</strong>
    <%= notification.read_status %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= notification.created_at %>
  </p>

</div>
