<%= form_with(model: read_status, url: read_status_path, method: :patch, class: 'row g-3') do |form| %>
  <% if read_status&.errors&.any? %>
    <div style="color: red">
      <h2><%= pluralize(read_status.errors.count, "errors") %> prohibited this read_status from being saved:</h2>
      <ul>
        <% read_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
    <%= form.label :status, "Read Status", class: "form-label", for: 'status_selector' %>
    <div class="form-group">
      <select class="form-select" id="status_selector">
        <option value="unread">Unread</option>
        <option value="reading">Reading</option>
        <option value="completed">Completed</option>
        <option value="abandoned">Abandoned</option>
      </select>
    </div>
  </div>

  <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
    <%= form.label :finished_date, style: "display: block", class: "form-label" %>
    <%= form.date_field :finished_date, class: 'form-control date' %>
  </div>

  <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
    <%= form.label :last_page_read, style: "display: block", class: "form-label" %>
    <%= form.number_field :last_page_read, class: 'form-control', min: 0, max: book.page_count  %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary', label: 'Update Status'%>
  </div>
<% end %>
