<div id="<%= dom_id read_status %>">
  <p>
    <strong>Book:</strong>
    <%= read_status.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= read_status.member_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= read_status.status %>
  </p>

  <p>
    <strong>Finished date:</strong>
    <%= read_status.finished_date %>
  </p>

</div>
