<div id="<%= dom_id borrowing %>">
  <p>
    <strong>Book:</strong>
    <%= borrowing.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= borrowing.member_id %>
  </p>

  <p>
    <strong>Borrow date:</strong>
    <%= borrowing.borrow_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= borrowing.due_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= borrowing.return_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= borrowing.status %>
  </p>

</div>
