<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre_id %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= book.publication_date %>
  </p>

  <p>
    <strong>Isbn10:</strong>
    <%= book.isbn10 %>
  </p>

  <p>
    <strong>Isbn13:</strong>
    <%= book.isbn13 %>
  </p>

  <p>
    <strong>Copies available:</strong>
    <%= book.copies_available %>
  </p>

  <p>
    <strong>Book type:</strong>
    <%= book.book_type %>
  </p>

  <p>
    <strong>Cover Image:</strong><br>
    <% if @book&.cover_image_url %>
      <%= image_tag @book.cover_image_url(resize_to_limit: [300, 300]) %>
    <% else %>
      <em>No cover image available</em>
    <% end %>
  </p>

  <p>
    <strong>Shelf location:</strong>
    <%= book.shelf_location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

</div>
