<p style="color: green"><%= notice %></p>

<% if session[:search_query].present? %>
  <h1>Search Results for "<%= session[:search_query] %>":</h1>
  <small><%= @book_count %> Results</small><br>
<% else %>
  <h1>All Books</h1>
  <small><%= @book_count %> Results</small><br>
<% end %>

<%= link_to "New book", new_book_path, class: 'btn btn-info m-2' %>
<% if session[:search_query].present? %>
  <%= button_to "Clear Search", books_search_path, method: :get, class: "btn btn-secondary m-2" %>
<% end %>
<hr>

<div class="container">
  <% if @books.any? %>
    <div class="row">
      <% @books.each do |book| %>
        <%= render partial: 'book', locals: { book: book } %>
      <% end %>
    </div>
  <% else %>
    <p>No books found for "<%= session[:search_query] %>".</p>
  <% end %>
</div>


