<% if @book.cover_image.present? %>
  <%= link_to image_tag(@book.cover_image.variant(resize_to_limit: [300, 300]), class: 'card-img-top img-thumbnail img-responsive thumbnail', alt: "#{@book.title} cover image", height: 300), book_path(@book) %>
<% else %>
  <%=link_to image_tag("placeholder-image.png", class: 'card-img-top img-fluid thumbnail', alt: "Placeholder cover image"), book_path(@book) %>
<% end %>

<h1><i><%= @book.title.titleize %></i></h1>
<p><strong>Author(s):</strong>
  <%@book.authors.each do |author| %>
    <%= link_to "#{author.name} ", author_path(author) %>
  <% end %>
  </p>
<p><strong>Genre(s):</strong>
  <%@book.genres.each do |genre| %>
    <%= link_to "#{genre.name}", genre_path(genre)  %>
  <% end %>
</p>

<p><strong>Page Count:</strong> <%=@book.page_count %></p>
<p><strong>Publication Year:</strong> <%=@book.publication_year %></p>
<p><strong>ISBN-10:</strong> <%=@book.isbn10 %></p>
<p><strong>ISBN-13:</strong> <%=@book.isbn13 %></p>

<%= link_to "<- Back to Book Index", books_path %>