<h1><i><%= @book.title.titleize %></i></h1>
<p><strong>Author(s):</strong>
  <%@book.authors.each do |author| %>
    <%= link_to "#{author.name} ", author_path(author) %>
  <% end %>
  </p>
<p><strong>Genre(s):</strong>
  <%@book.genres.each do |genre| %>
    <%= link_to "#{genre.name} ", genre_path(genre) %>
  <% end %>
</p>

<p><strong>Page Count:</strong> <%=@book.page_count %></p>
<p><strong>Publication Year:</strong> <%=@book.publication_year %></p>
<p><strong>ISBN-10:</strong> <%=@book.isbn10 %></p>
<p><strong>ISBN-13:</strong> <%=@book.isbn13 %></p>

<%= link_to "<- Back to Book Index", books_path %>