<div class="container mt-3">
  <%= link_to books_path, class: 'btn btn-outline-primary mb-4' do %>
    Back to Book Index
  <% end %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 image-overlay border-0">
        <% if @book.cover_image.present? %>
          <%= image_tag @book.cover_image.variant(resize_to_limit: [1000, 1000]),
                        class: 'card-img-top img-thumbnail img-responsive',
                        alt: "#{@book.title} cover image" %>
        <% else %>
          <%= image_tag "placeholder-image.png", class: 'card-img-top img-fluid', alt: "Placeholder cover image" %>
        <% end %>
        <button class="like-button pt-2 pr-2" data-book-id="<%= @book.id %>">
          <span class="heart-icon  <%= @book.liked_by?(current_user) ? 'filled' : 'empty' %>-heart"></span>
        </button>
      </div>
    </div>

    <div class="col-md-8 p-2 text-start">
      <h1 class="display-4"><%= @book.title.titleize %></h1>
      <% if @book.borrowers.include?(current_user) and @read_status and @progress %>
        <p class="text-success"><strong>Current Progress:</strong> <%= @progress %>% (<%= @read_status.last_page_read%>/<%= @book.page_count%>)
          <span><%= link_to "Update Progress", "#update-status", class: 'text-primary' %></span>
        </p>
      <% end %>
      <p><strong>Publication Year:</strong> <%= @book.publication_year %></p>
      <p><strong>Genres:</strong> <%= @book.genres.map { |genre|
        @genres.sort_by(&:book_count).reverse.find { |g| g.id == genre.id }&.name
      }.compact.join(", ") %></p>
      <p><strong>Authors:</strong> <%= @book.authors.pluck(:name).join(', ') %></p>
      <p><strong>Page Count:</strong> <%= @book.page_count %></p>
      <p><strong>ISBN-10:</strong> <%= @book.isbn10 %></p>
      <p><strong>ISBN-13:</strong> <%= @book.isbn13 %></p>
      <p><strong>Average Rating:</strong> <%= @book.average_rating.to_s ||= "Not Rated" %></p>
      <%= link_to 'Edit Book', edit_book_path(@book), class: 'btn btn-primary' %>
      <button type="button" class="btn btn-primary btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel">
        Delete Book
      </button>

      <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModelLabel">Delete Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you'd like to delete <%= @book.title %>?
            </div>
            <div class="modal-footer">
              <%= button_to 'Delete', book_path(@book), method: :delete, class: 'btn btn-danger', data: { turbo: false } %>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 border border-4">
  <h2>Borrow and Return Status</h2>
  <%= render 'books/borrow_and_reserve', book: @book %>

  <% if @book.borrowed? %>
    <p class="m-2">Currently borrowed by: <%= @book.borrowers.pluck(:name).join(', ') %></p>
    <% if @book.borrowers.include?(current_user) and @read_status %>
      <h3 id='update-status'>Update Reading Status?</h3>
      <p>Looks like you're currently reading this book. Would you like to update your reading status?</p>
      <div class="container">
        <%= render 'read_statuses/form', read_status: @read_status %>
      </div>
    <% end %>
  <% end %>

  <% if @book.reserved? %>
    <p class="m-2">Currently reserved by: <%= @book.reservation.member.name %></p>
  <% end %>

</div>