<div id="<%= dom_id reservation %>">
  <p>
    <strong>Book:</strong>
    <%= reservation.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= reservation.member_id %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= reservation.expiration_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
