<%= form_with(model: availability_calendar) do |form| %>
  <% if availability_calendar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(availability_calendar.errors.count, "error") %> prohibited this availability_calendar from being saved:</h2>

      <ul>
        <% availability_calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.number_field :book_id %>
  </div>

  <div>
    <%= form.label :available_date, style: "display: block" %>
    <%= form.date_field :available_date %>
  </div>

  <div>
    <%= form.label :reservation_count, style: "display: block" %>
    <%= form.number_field :reservation_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
