<p style="color: green"><%= notice %></p>

<%= render @availability_calendar %>

<div>
  <%= link_to "Edit this availability calendar", edit_availability_calendar_path(@availability_calendar) %> |
  <%= link_to "Back to availability calendars", availability_calendars_path %>

  <%= button_to "Destroy this availability calendar", @availability_calendar, method: :delete %>
</div>
