<div id="<%= dom_id book_copy %>">
  <p>
    <strong>Book:</strong>
    <%= book_copy.book_id %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= book_copy.barcode %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= book_copy.condition %>
  </p>

  <p>
    <strong>Acquisition date:</strong>
    <%= book_copy.acquisition_date %>
  </p>

  <p>
    <strong>Shelf location:</strong>
    <%= book_copy.shelf_location %>
  </p>

</div>
