<div id="<%= dom_id wishlist %>">
  <p>
    <strong>Member:</strong>
    <%= wishlist.member_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= wishlist.book_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= wishlist.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= wishlist.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= wishlist.genre_id %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= wishlist.publication_date %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= wishlist.isbn %>
  </p>

  <p>
    <strong>Request status:</strong>
    <%= wishlist.request_status %>
  </p>

  <p>
    <strong>Added date:</strong>
    <%= wishlist.added_date %>
  </p>

  <p>
    <strong>Library response:</strong>
    <%= wishlist.library_response %>
  </p>

</div>
