<div id="<%= dom_id review %>">
  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= review.member_id %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= review.review_text %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= review.created_at %>
  </p>

</div>
