<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Millian Library<%= " - #{@page_title}" if @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js" integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="text-center">
<%= render 'partials/navbar' if logged_in? %>
<%= render 'partials/alert', flash: flash %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
