<div class="mx-auto text-start">
  <%= form_with(model: @member, local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %> <br>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter your name" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %><br>
      <%= f.email_field :email, class: 'form-control', type: 'email', placeholder: "Enter your email" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %><br>
      <%= f.password_field :password, class: 'form-control', type: 'password', placeholder: "Password" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %><br>
      <%= f.text_field :password_confirmation, class: 'form-control', type: 'password', placeholder: "Confirm password" %>
    </div>

    <div class="mb-3 text-center">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", members_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>