<tr>
  <th scope="row"><%= member.id %></th>
  <td><%= link_to member.name, member_path(member) %></td>
  <td><%= member.email %></td>
  <td><%= member.reservation_count %></td>
  <td><%= member.borrowing_count %></td>
  <td><%= member.like_count %></td>
</tr>

